h1 {
    font-size: 40px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;

  }

  button {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -khtml-border-radius: 15px;
  background: #245c37;
  color: #fff;
  border: solid 10px #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 2em;
  padding: 36px 40px;
  width: 360px;
  margin: 30px;
  outline: none;
  
}

p{
    font-size: large;
}

    .wrapper {
        width: 200;
        margin: 3px auto;
   
        text-align: center;
}


#seconds, #tens {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6em;
  }
  